body {/* Estilos generales para el body */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1{

}

p {/* Estilos para los párrafos */
    font-size: 18px;
    margin: 10px 0;
}

a {/* Estilos para los enlaces */
    text-decoration: none;
}

a:hover {

}

.container-nav {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    /* Estilos para la barra de navegación */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 150px;
    border-left: 5px solid #38ff8e;
    border-radius: 50%;
    animation: right5231 0.9s linear infinite;
}

.logo::before,
.logo::after {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 5px solid #ffbe0b;
    border-radius: 50%;
    animation: left036 0.9s linear infinite;
}

.logo::after {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-top: 5px solid #ff086e;
    animation: none;
}

@keyframes right5231 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes left036 {
    from {
        transform: rotate(720deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.brand {
    /* My Website */
    color: whitesmoke;
    font-family: monospace;
    padding: 0 24px;
    font-size: 20px;
    text-decoration: none; /* Agrega esto para eliminar el subrayado del enlace */
    position: absolute;
}

.brand:hover{
    animation-name: shakefix;
    -webkit-animation-name: shakefix;
    -moz-animation-name: shakefix;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}

@keyframes shakefix {
    0%  {transform: translate(1px, 1px);}
    10% {transform: translate(-1px, -2px);}
    20% {transform: translate(-3px, 0px);}
    30% {transform: translate(3px, 2px);}
    40% {transform: translate(1px, -1px);}
    50% {transform: translate(-1px, 2px);}
    60% {transform: translate(-3px, 1px);}
    70% {transform: translate(3px, 1px);}
    80% {transform: translate(-1px, -1px);}
    90% {transform: translate(1px, 2px);}
    100% {transform: translate(1px, -2px);}
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 20px 10px;
    margin: 0;
}

.nav-links a {
    padding: 10px 12px;
    border-radius: 4px;
    transition: .5s, color .10s, background-color 0.5s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    animation-name: flicker;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.nav-links a:hover{
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
}

@keyframes flicker {
    0% {opacity: 1;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    75% {opacity: 0.5;}
    100% {opacity: 1;}
}

.menu1, .menu2, .menu3, .menu4 {
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    border-radius: 10px; /* Agregado para esquinas redondeadas */
    padding: 10px 20px; /* Agregado para crear espacio dentro del contenedor rectangular */
    width: 110px; /* Agregado para establecer un ancho fijo */
    transition: background-image 0.3s;
}


.menu1 {
    text-shadow: 0 0 20px red;
}

.menu1:hover {
    text-shadow: 0 0 20px red;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.8), rgba(255, 255, 255, 0.5));
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu2 {
    text-shadow: 0 0 20px deepskyblue;
}

.menu2:hover {
    text-shadow: 0 0 20px deepskyblue;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.8), rgba(255, 255, 255, 0.5));
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu3 {
    text-shadow: 0 0 20px green;
}

.menu3:hover {
    text-shadow: 0 0 20px green;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(to top, rgba(0, 255, 0, 0.8), rgba(255, 255, 255, 0.5));
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu4 {
    text-shadow: 0 0 30px white;
}

.menu4:hover {
    text-shadow: 0 0 30px white;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.8);
    }
}
@keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.8);
    }
}

.button-menu-toggle {
    /* Estilos para el botón de menú desplegable en dispositivos móviles */
    display: none;
}

@media (max-width: 768px) {
    /* Estilos para la versión responsive de la lista de enlaces en dispositivos móviles */
    .column {
        flex: 100%;
    }
    .nav-links {
        display: none;
    }
    .button-menu-toggle {
        display: block;
        background-color: white;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }
}
.footer background{
    background-image: url("img/espacio1.jpg");
}

.footer {
    /* Estilos para el footer */
    background-image: url("img/espacio1.jpg");
    background-size: cover;
    color: #fff;
    /* texto */
    padding: 20px;
    text-align: center;
}

.footer p {
    /* Estilos para el texto del footer */
    font-size: 24px;
    margin: 0;
}

.footer a {
    /* Estilos para el enlace del footer */
    color: #fff;
    /* Color blanco (#fff) para el enlace */
    text-decoration: none;
}

.footer a:hover {
    /* Estilos para el enlace al pasar el ratón sobre el footer */
    text-decoration: underline;
}